@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    text-align: center;
    
}

@media screen and(max-width: 47em) {
    .wrapper {
        display: grid;
        grid-gap: .5rem;
        grid-template-areas:
         "header"
         "main"
         "sidebar"
         "aside1"
         "aside2"
         "footer"
        ;
        height: 100vh;
        }
}

@media screen and (min-width: 48em) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        max-width: 1200px;
        height: 100vh;
        grid-gap: .3rem;
        grid-template-areas: 
        "header   header   header   header   header   header   "
        ".        main     main     main     sidebar  .        "
        ".        aside1   aside1   aside2   aside2   .        "
        "footer   footer   footer   footer   footer   footer   "
    
        ;
    }
}



.cheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    grid-area: header;
}

.cmain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    grid-area: main;
}

.csidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    grid-area: sidebar;

}

.caside1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    grid-area: aside1;
}

.caside2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    grid-area: aside2;
}

.cfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    grid-area: footer;
}