@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: .1rem;
        height: 100vh;
        grid-template-areas: 
        "title"
        "meta"
        "copy1"
        "copy2"
        "media"
        "aside"
        ;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .wrapper {
        display: grid;
        grid-gap: .1rem;
        height: 100vh;
        margin: 0 auto;
        padding: 33px;
        max-width: 1300px;
        grid-template-columns: repeat(4, fr);
        grid-template-rows: repeat(4, fr);
        grid-template-areas: 
        "meta   title   title   title"
        "copy1  copy1   copy1   copy1"
        "copy2  copy2   copy2   copy2"
        "media  media   media   aside"
        ;
    }
}


@media screen and (min-width: 992px) {
    .wrapper {
        display: grid;
        grid-gap: .1rem;
        height: 100vh;
        margin: 0 auto;
        padding: 33px;
        max-width: 1300px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "meta   title   title   title   copy2   copy2"
        "copy1  copy1   copy1   copy1   copy2   copy2"
        "media  media   media   media   media   media"
        "aside  aside   .       .       .       .    "
        ;
    }

    .caside {
        overflow: hidden;
    }
}

.ctitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 247, 244);
    grid-area: title;
}

.cmeta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 192, 192);
    grid-area: meta;
}

.ccopy1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 228);
    grid-area: copy1;
}

.ccopy2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 141, 141);
    grid-area: copy2;
}

.cmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 74);
    grid-area: media;
}

.caside {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 94, 0);
    grid-area: aside;
}